---
---

@import "{{ site.theme }}";

body {
  box-sizing: border-box;
//   color:#373737;
  color:#b0e2ff;
//   background: #212121;
  background: #b0e2ff;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
